name: Test
on: push

jobs:
  test:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: |
          pushd deps && mvn install:install-file -Dfile=b2b.jar -DgroupId=com.oracle.b2b -DartifactId=b2b -Dpackaging=jar -Dversion=11.1.1 && popd
          mvn --batch-mode compile assembly:single
